{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container">
        <a href="{% url 'products:product_create' %}" class='btn btn-sm btn-primary'>Add product</a>
    </div>
    <div class="container pt-2">
        <div class="row">
            {% for product in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center">{{ product.name }}</h4>
                        </div>
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <ul class="list-unstyled mt-3 mb-4 text-center">
                                <li>{{ product.description|truncatechars:25 }}</li>
                            </ul>
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="Not Loaded" class="centered-image img-fluid"
                                     style="width: 300px; height: 300px; object-fit: cover;">
                            {% else %}
                                <p>No image available for product: {{ product.name }}</p>
                            {% endif %}
                            <br>
                            <h3 class="card-title pricing-card-title">
                                {{ product.purchase_price }} руб.</h3>
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'products:product_detail' product.id %}"
                                       class="btn btn-sm btn-primary">Details</a>
                                    <a href="{% url 'products:product_update' product.id %}"
                                       class="btn btn-sm btn-success">Edit</a>
                                    <a href="{% url 'products:product_delete' product.id %}"
                                       class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}