{% extends 'base.html' %}

{% block content %}
    <div class="container pt-2">
        <div class="row">
            <div class="card">
                <div class="card-header text-center">My profile</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <a href="{% url 'users:reset_password' %}" class="btn btn-sm btn-danger">Reset password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
